@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

:root {
  --background: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
}

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

h3 {
  color: var(--very-dark-grayish-cyan);
  font-weight: bold;
}

h4 {
  color: var(--desaturated-dark-cyan);
  font-weight: bold;
}

p {
  font-size: 15px;
}

p.featured {
  background-color: var(--very-dark-grayish-cyan);
  color: var(--background);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 5px 3px;
  border-radius: 10px;
}

div.posted__at p {
  color: var(--very-dark-grayish-cyan);
  font-size: 14px;
}

div.roles p {
  background-color: var(--background);
  color: var(--desaturated-dark-cyan);
  font-weight: bold;
  padding: 4px 5px 3px;
  border-radius: 5px;
  margin: 5px 0;
}

.showcase {
  background-color: var(--desaturated-dark-cyan);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
